
:root {
    --color-black: #000;
    --color-white: #fff;
    --color-buttercup: #f6a621;
    --color-paco: #44180f;
    --color-abbey: #cccccc;
    --color-sandy-brown: #f4b25c;
    --defined-indent: 8px;
}

html,
body {
    font-size: 16px;
    background: var(--color-white);
    color: var(--color-paco);
    height: 100%;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.5rem;
}

@for $i from 1 through 10 {
    .pt-#{$i} {
        padding-top: calc(var(--defined-indent) * #{$i});
    }
    .pb-#{$i} {
        padding-bottom: calc(var(--defined-indent) * #{$i});
    }
    .pl-#{$i} {
        padding-left: calc(var(--defined-indent) * #{$i});
    }
    .pr-#{$i} {
        padding-right: calc(var(--defined-indent) * #{$i});
    }
    .pa-#{$i} {
        padding: calc(var(--defined-indent) * #{$i});
    }
    .py-#{$i} {
        padding-top: calc(var(--defined-indent) * #{$i});
        padding-bottom: calc(var(--defined-indent) * #{$i});
    }
    .px-#{$i} {
        padding-left: calc(var(--defined-indent) * #{$i});
        padding-right: calc(var(--defined-indent) * #{$i});
    }

    .mt-#{$i} {
        margin-top: calc(var(--defined-indent) * #{$i});
    }
    .mb-#{$i} {
        margin-bottom: calc(var(--defined-indent) * #{$i});
    }
    .ml-#{$i} {
        margin-left: calc(var(--defined-indent) * #{$i});
    }
    .mr-#{$i} {
        margin-right: calc(var(--defined-indent) * #{$i});
    }
    .ma-#{$i} {
        margin: calc(var(--defined-indent) * #{$i});
    }
    .my-#{$i} {
        margin-top: calc(var(--defined-indent) * #{$i});
        margin-bottom: calc(var(--defined-indent) * #{$i});
    }
    .mx-#{$i} {
        margin-left: calc(var(--defined-indent) * #{$i});
        margin-right: calc(var(--defined-indent) * #{$i});
    }
}
